body {
    background-color: rgb(38, 105, 250);
    background-image: url(Background.jpg);
}

.bar {
    justify-content: space-between;
    display: flex;
}

.logo {
    float: left;
    padding: 3rem;
    width: 100px;
    height: 50px
}

.add-button {
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
    font-size: 18px;
    border-style: hidden;
    background-color: antiquewhite;
}

.add-button:hover {
    background-color: rgb(60, 45, 124);
    color: aliceblue;
}

/* table{
    margin: auto;
}
thead{
    background-color: black;
}
tbody{
    background-color: aliceblue;
} */
.op-table {
    font-size: 20px;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#fefbd8;
    text-align: center;
    border-spacing: .2rem;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid black;
}
.op-table th{
    padding: 5px;
    background-color: #3e008f;
    color: aliceblue;
    border:none;
}

.action-buttons {
    cursor: pointer;
    padding: 10px;
    border-radius: 1rem;
    background-color: #3e008f;
    color: whitesmoke;
    border-color: blanchedalmond;

}
.op-table tr:nth-child(even){
    background-color: #9365cf;
    color: aliceblue;
}
.op-table tr:nth-child(odd){
    background-color: #7b58aa;
    color: aliceblue;
}

.action-buttons:hover {
    color:black;
    background-color: whitesmoke;
    border-color: rgba(0, 0, 0);
}