<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homestyle.css') }}">
</head>

<body>
    <h1>Home</h1>
    <h2>Hi, Admin</h2>
    <table border="1" class="op">
        <thead>
            <th>UID</th>
            <th>User Name</th>
            <th>Password</th>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for d in row %}
                <td>
                    {{ d }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Click <a href="/">here</a> to return to Login</p>
    <input type="button" value="SEARCH" onclick="search()" id="search-button">
    <div class="search-bar" id="search-bar">
        <form action="http://localhost:5000/search" method="POST" class="search-form">
            <p>
                <label for="uid">UID</label>
                <input type="radio" name="search-id" id="uid" value="uid" checked>&nbsp;&nbsp;
                <label for="uname">User name</label>
                <input type="radio" name="search-id" id="uname" value="username">
            </p>
            <p>
                <input type="text" name="search" id="search" placeholder="Search">
                <input type="submit" value="SEARCH">
            </p>
            <p>
            </p>
        </form>
    </div>
    <a href="http://localhost:5000/reset">
        <input type="button" name="reset" id="reset" value="RESET">
    </a>
    <script>
        function search() {
            document.getElementById("search-bar").style.display = 'block'
            document.getElementById('search-button').style.display = 'none'
        }
    </script>
    {% if flag %}
    <script>
        alert("please enter all feilds")
    </script>
    {% endif %}
</body>

</html>